.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 100; /* Higher than the Movie buttons, lower than the Info component */
  pointer-events: auto; /* Enable pointer events on the overlay */

}

.MovieContainer {
    margin: 0 0.5vw; /* Slightly increased margin for spacing */
    width: fit-content; /* Increase the width of the movie container */
}

.MovieContainer > button {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 15px;
    padding: 8px;
    border: none;
    width: 200px; /* Set a fixed width for the button */
}

.MovieImage {
    height: 250px; /* Increase the height of the image */
}

.NameRating {
    display: flex;
    align-items: center;
    width: 185px; /* Set a specific width */
    overflow: hidden; /* Enable overflow and hide extra content */
    margin: auto;
    height: 50px; /* Example fixed height */
}

.NameRating > h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; /* Important for ellipsis to work */
    margin: 0;
}

.NameRating > * {
    margin: 0 0.25vw;
}